<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="MocaTestDB" connectionString="data source=(localdb)\Projects;initial catalog=MocaTest;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="MocaCore.Test.My.MySettings.MSSQL" connectionString="Data Source=(localdb)\Projects;Initial Catalog=MocaTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MocaCore.Test.My.MySettings.Test" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=MocaTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MocaCore.Test.My.MySettings.MSSQLOle" connectionString="Provider=SQLNCLI11;Data Source=(localdb)\Projects;Integrated Security=SSPI;Initial Catalog=MocaTest"
      providerName="System.Data.OleDb" />
    <add name="MocaCore.Test.My.MySettings.Ora" connectionString="DATA SOURCE=VMDB;PASSWORD=test;PERSIST SECURITY INFO=True;USER ID=MIYABIS"
      providerName="Oracle.DataAccess.Client" />
    <add name="MocaCore.Test.My.MySettings.OraOle" connectionString="Provider=MSDAORA;Data Source=VMDB;Persist Security Info=True;Password=test;User ID=MIYABIS"
      providerName="System.Data.OleDb" />
    <add name="MocaCore.Test.My.MySettings.OraMS" connectionString="Data Source=VMDB;Persist Security Info=True;User ID=miyabis;Password=test;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="MocaCore.Test.My.MySettings.OraManaged" connectionString="DATA SOURCE=VMDB;PASSWORD=test;PERSIST SECURITY INFO=True;USER ID=MIYABIS"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="MocaCore.Test.My.MySettings.MySQL" connectionString="server=localhost;user id=miyabis;password=test;persistsecurityinfo=True;database=bitnami_redmine;port=3306;sslmode=None"
      providerName="MySql.Data.MySqlClient" />
    <add name="MocaCore.Test.My.MySettings.PostgreSQL" connectionString="Host=localhost;Database=alfresco;Password=test;Username=alfresco"
      providerName="Npgsql" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Npgsql" />-->
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
    <!--<DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>-->
  </system.data>
  <system.diagnostics>
    <sources>
      <!-- このセクションでは、My.Application.Log のログ構成を定義します。-->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
